# MAC files
.DS_Store

# Dataset
*/DataSetDelivered/train
*/DataSetDelivered/test
*/DataSetDelivered/fake_test
DataSetDelivered/train
DataSetDelivered/test
DataSetDelivered/fake_test
segment-ucm/
# MATLAB files
*.asv

*.jpg
DataSetDelivered/*.png
